#moduleItem:hover {
    background-color: rgb(16, 108, 200, 0.5);
}


/*.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}*/

.openDashboard {
    height: 100%;
    background-color: #E8EAF6;
}

#setToolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 0;
    cursor: pointer;
    outline: none;
}

.gridListdemoBasicUsage md-grid-list {
    margin: 8px;
}

.gridListdemoBasicUsage .gray {
    background: #f5f5f5;
}

.gridListdemoBasicUsage .green {
    background: #b9f6ca;
}

.gridListdemoBasicUsage .yellow {
    background: #ffff8d;
}

.gridListdemoBasicUsage .blue {
    background: #84ffff;
}

.gridListdemoBasicUsage .purple {
    background: #b388ff;
}

.gridListdemoBasicUsage .red {
    background: #ff8a80;
}

.gridListdemoBasicUsage md-grid-tile {
    transition: all 400ms ease-out 50ms;
}
th {
    text-align: left;
}

#homeToolbar {
    background-color:#1A237E;
}

#homeTable {
    width:100% ;
}
