<md-content ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Reader Mode">
            <md-content class="md-padding">
                <md-button class="md-primary " ng-click="returnToDashboard()" target="_blank ">
                    <md-icon md-svg-icon="./img/icons/ic_arrow_back_black_24px.svg"></md-icon> Dashboard</md-button>
                <md-button class="md-primary " ng-click="getActionInfo()" target="_blank ">
                    <md-icon md-svg-icon="./img/icons/ic_refresh_black_24px.svg"></md-icon> Refresh</md-button>
                <div layout="column">
                    <div layout-margin layout="row" layout-align="space-around">

                        <span></span>
                        <md-whiteframe id="actionSummary" class="md-whiteframe-3dp" flex-sm="40" flex-gt-sm="70" flex-gt-md="80" layout="column" layout-padding>
                            <table id="summaryTable" flex>
                                <tr>
                                    <th>Action</th>
                                    <th>Launched by</th>
                                    <th>Launched on</th>
                                    <th>Status</th>
                                    <th>Sent</th>
                                    <th>Done</th>
                                    <th>Succeeded</th>
                                </tr>
                                <tr>
                                    <td>{{actionDetails.data[0].value.name}}</td>
                                    <td><strong><p><span ng-repeat="inv in actionDetails.data[0].value.investigators">'{{inv.name}}'</span> </p></strong></td>
                                    <td><pre>{{actionDetails.data[0].value.starttime}}</pre></td>
                                    <td>{{actionDetails.data[0].value.status}}</td>
                                    <td>{{actionDetails.data[0].value.counters.sent}}</td>
                                    <td>{{actionDetails.data[0].value.counters.done}}</td>
                                    <td>{{actionDetails.data[0].value.counters.success}}</td>
                                </tr>
                            </table>

                        </md-whiteframe>
                        <span></span>

                    </div>
                    <!-- make a button to launch action using template here -->
                    <div layout="row">
                        <!-- make it a card. Command -->
                        <div flex layout="column">
                            <div flex layout-margin>
                                <md-whiteframe id="actionCommand" class="md-whiteframe-3dp" layout="column" layout-padding>
                                    <h4> Click on any command id in action details to see the command details</h4>
                                    <div layout="row">
                                        <!--<input type="number" ng-model="commandId">-->
                                        <md-input-container flex>
                                            <!--<label>Finish Time</label>-->
                                            <input name="comm" type="number" ng-pattern="" md-maxlength="" ng-model="commandId">
                                        </md-input-container>
                                        <md-button id="actionButtons" class="md-primary" ng-click="getCommandInfo(data.data[0].value.id) " target="_blank " flex>Get Command Details</md-button>
                                    </div>
                                </md-whiteframe>
                            </div>
                            <div flex layout-margin>
                                <md-whiteframe id="actionInvestigator" class="md-whiteframe-3dp" layout="column" layout-padding>
                                    <h3>Investigators</h3>
                                    <p ng-repeat="inv in actionDetails.data[0].value.investigators"> <b>{{inv.name}}</b> : Key ID - {{inv.pgpfingerprint}}</p>
                                </md-whiteframe>
                            </div>
                            <div flex layout-margin>
                                <md-content>
                                    <md-whiteframe id="actionJson" class="md-whiteframe-3dp" layout="column" layout-padding>
                                        <h3>JSON</h3>
                                        <md-content id="jsonContent">
                                            <!--TODO: Try to wrap long values to next line-->
                                            <pre> {{actionDetails.data[0].value| json}} </pre>
                                        </md-content>
                                        <!--                                    <pre> {{actionJson | json}} </pre>-->
                                    </md-whiteframe>
                                </md-content>
                            </div>
                        </div>
                        <!-- make it a card. Details -->
                        <div flex layout="column">
                            <div layout-margin>
                                <md-whiteframe id="actionDetail" class="md-whiteframe-3dp" layout="column" layout-padding>
                                    <table id="detailsTable" flex>
                                        <tr>
                                            <th>ID</th>
                                            <td>{{actionDetails.data[0].value.id}}</td>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{actionDetails.data[0].value.name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Target</th>
                                            <td>{{actionDetails.data[0].value.target}}</td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td layout="column">
                                                <div flex>
                                                    <strong>author:</strong> {{actionDetails.data[0].value.description.author}}&lt; {{actionDetails.data[0].value.description.email}} &gt;
                                                </div>
                                                <div flex>
                                                    <strong>revision:</strong>{{actionDetails.data[0].value.description.revision}}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Threat</th>
                                            <td layout="column">
                                                <div ng-if="actionDetails.data[0].value.threat.type" flex><strong>type:</strong> {{actionDetails.data[0].value.threat.type}}</div>
                                                <div ng-if="actionDetails.data[0].value.threat.level" flex><strong>level:</strong> {{actionDetails.data[0].value.threat.level}} </div>
                                                <div ng-if="actionDetails.data[0].value.threat.family" flex><strong>family:</strong> {{actionDetails.data[0].value.threat.family}}</div>
                                                <div ng-if="actionDetails.data[0].value.threat.ref" flex><strong>reference:</strong> {{actionDetails.data[0].value.threat.ref}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td>{{actionDetails.data[0].value.status}}</td>
                                        </tr>
                                        <tr>
                                            <th>Times</th>
                                            <td layout="column">
                                                <div flex><strong>valid from: </strong>{{actionDetails.data[0].value.validfrom}}</div>
                                                <div flex><strong>until: </strong>{{actionDetails.data[0].value.expireafter}}</div>
                                                <div flex><strong>started: </strong>{{actionDetails.data[0].value.starttime}}</div>
                                                <div flex><strong>last updated: </strong>{{actionDetails.data[0].value.lastupdatetime}}</div>
                                                <div flex><strong>finished: </strong>{{actionDetails.data[0].value.finishtime}} </div>
                                                <div flex><strong>duration: </strong>{{actionDetails.data[0].value.lastupdatetime -actionDetails.data[0].value.starttime}}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </md-whiteframe>
                            </div>

                            <div layout-margin>

                                <md-whiteframe id="actionCounter" class="md-whiteframe-3dp" flex-sm="40" flex-gt-sm="70" flex-gt-md="80" layout="column" layout-padding>
                                    <h3>Counters</h3>
                                    <table id="details" flex style="width:100% ">
                                        <tr ng-if="actionDetails.data[0].value.counters.sent">
                                            <th>Sent</th>
                                            <td>{{actionDetails.data[0].value.counters.sent}}</td>
                                        </tr>
                                        <tr ng-if="actionDetails.data[0].value.counters.done">
                                            <th>done</th>
                                            <td>{{actionDetails.data[0].value.counters.done}}</td>
                                        </tr>
                                        <tr ng-if="actionDetails.data[0].value.counters.inflight">
                                            <th>Inflight</th>
                                            <td>{{actionDetails.data[0].value.counters.inflight}}</td>
                                        </tr>
                                        <tr ng-if="actionDetails.data[0].value.counters.succedded">
                                            <th>succeeded</th>
                                            <td>{{actionDetails.data[0].value.counters.success}}</td>
                                        </tr>
                                        <tr ng-if="actionDetails.data[0].value.counters.cancelled">
                                            <th>cancelled</th>
                                            <td>{{actionDetails.data[0].value.counters.cancelled}}</td>
                                        </tr>
                                        <tr ng-if="actionDetails.data[0].value.counters.expired">
                                            <th>expired</th>
                                            <td>{{actionDetails.data[0].value.counters.expired}}</td>
                                        </tr>
                                        <tr ng-if="actionDetails.data[0].value.counters.failed">
                                            <th>failed</th>
                                            <td>{{actionDetails.data[0].value.counters.failed}}</td>
                                        </tr>
                                        <tr ng-if="actionDetails.data[0].value.counters.timeout">
                                            <th>timeout</th>
                                            <td>{{actionDetails.data[0].value.counters.timeout}}</td>
                                        </tr>
                                    </table>
                                </md-whiteframe>
                            </div>
                        </div>

                    </div>

                    <!-- make it a card. List Commands -->
                    <div flex>
                        <h3>List Of Commands</h3>
                        <!-- make it a card. All -->
                        <!--TODO: Add search filtering -->
                        <div flex>
                            <!-- TODO: Show this onlick on collapsed card instead of the button, & formatting to be done as per the console -->
                            <md-button id="actionButtons" class="md-primary " ng-click="searchCommands(1)" target="_blank ">Show all</md-button>

                            <md-button id="actionButtons" class="md-primary " ng-click="searchCommands(2)" target="_blank ">Show Found</md-button>

                            <md-button id="actionButtons" class="md-primary " ng-click="searchCommands(3)" target="_blank ">Show Not Found</md-button>
                            <div flex layout='row'>
                                <div flex layout='column'>
                                    <h3>Command ID</h3>
                                    <p ng-repeat="cmd in commandsList">
                                        <span ng-if="cmd.data[0].name =='command'">{{cmd.data[0].value.id}}</span>
                                    </p>
                                </div>
                                <div flex layout='column'>
                                    <h3>Agent Name &amp; ID </h3>
                                    <p ng-repeat="cmd in commandsList">
                                        <span ng-if="cmd.data[0].name =='command'">{{cmd.data[0].value.agent.name}} [{{cmd.data[0].value.agent.id}}]</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- TODO: Results  -->
                    <div flex>

                    </div>

                    <!-- make it a card. TimeStamps -->
                    <div flex>
                        <h3>Timestamps</h3>
                        <p><b>Valid From</b> {{actionDetails.data[0].value.validfrom}} <b>until</b> {{actionDetails.data[0].value.expireafter}}</p>
                        <p><b>Started On</b> {{actionDetails.data[0].value.starttime}}</p>
                        <p><b>Last Updated</b> {{actionDetails.data[0].value.lastupdatetime}}</p>
                        <p><b>Finished On</b> {{actionDetails.data[0].value.finishtime}}</p>
                    </div>


                </div>
            </md-content>
        </md-tab>
        <md-tab label="Command Mode">
            <md-content class="md-padding">
                <h1 class="md-display-2">Command Mode</h1>

            </md-content>
        </md-tab>

        <md-tab label="Action Launcher Mode">
            <md-content class="md-padding">
                <p>Generate new action using current action as a template:</p>
                <br>
                <md-input-container>
                    <label>Set Name</label>
                    <input required ng-model="name">
                </md-input-container>
                <br>
                <div layout="row">
                    <p> Set Counters: </p>
                    <div layout="column">
                        <md-input-container>
                            <label>Done</label>
                            <input name="done" ng-model="done" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                        <md-input-container>
                            <label>Inflight</label>
                            <input name="inflight" ng-model="inflight" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <md-input-container>
                            <label>Sent</label>
                            <input name="sent" ng-model="sent" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                        <md-input-container>
                            <label>Success</label>
                            <input name="success" ng-model="success" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <p> Description: </p>
                    <div layout="column">
                        <md-input-container>
                            <label>Author</label>
                            <input required ng-model="author">
                        </md-input-container>
                        <md-input-container>
                            <label>Email</label>
                            <input required type="email" ng-model="Email">
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <md-input-container>
                            <label>revision</label>
                            <input name="rev" ng-model="revision" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                    </div>
                </div>
                <md-input-container>
                    <label>Expire After</label>
                    <input name="ea" ng-model="expreAfter" required ng-pattern="" md-maxlength="">
                </md-input-container>
                <br>
                <md-input-container>
                    <label>Finish Time</label>
                    <input name="ea" ng-model="expreAfter" required ng-pattern="" md-maxlength="">
                </md-input-container>
                <br>
                <div layout="row">
                    <p>Id: </p> <pre><!--{{id}}--> blahblahblah</pre>
                </div>
                <!--TODO: give functionality of adding new operations and deleting operations-->
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>