  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons left"><img src="img/mig_logo.png" height="100%" width="15%"></i>Mozilla Investigator</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!"><i class="material-icons left">search</i></a></li>
        <li><a href="#!"><i class="material-icons right"></i>Link with Right Icon</a></li>
      </ul>
    </div>
  </nav>
  <body >
  		<div id="LatestActions">
            <button ng-click="getHeartbeat()">Get Heartbeat</button>
            {{heartbeat}}
        
        </div>
  </body>