<section flex layout="row" ng-cloak>
    <div flex="50" layout="column">
        <div flex>
            <h2 flex style="font-family: 'Eczar', serif; font-size:40px; margin-bottom:0; margin-top:10px; margin-left:2%;">Mozilla Investigator</h2>
            <h3 style="margin-left:10%; margin-top:0;"> Mozilla's real-time digital forensics and investigation platform </h3>
        </div>
        <div flex>

        </div>
    </div>
    <div flex="25" layout="column">
        <span flex></span>
        <img style="width:100%; height:auto;" src="./img/mig_logo.png" alt="mig logo">
        <span flex></span>
    </div>
    <div flex="25" layout="column">

        <md-button href="http://mig.mozilla.org/doc.html" class="" aria-label="documentation">
            Documentation
            <md-icon md-svg-icon="./img/icons/ic_help_outline_black_24px.svg"></md-icon>
        </md-button>

        <md-button href="http://list.mig.ninja/listinfo/list" class="" aria-label="maling list">
            Mailing list
            <md-icon md-svg-icon="./img/icons/ic_mail_outline_black_24px.svg"></md-icon>
        </md-button>
    </div>
</section>


<md-toolbar class="md-hue-4" ng-cloak>
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSideNav()" class="md-icon-button" aria-label="modules label">
            <md-icon md-svg-icon="./img/icons/ic_menu_white_24px.svg"></md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-raised" aria-label="toolbar button1" ng-click="createOrder($event)">
            Actions
        </md-button>
        <md-button class="md-raised" aria-label="toolbar button2" ng-click="investigator($event)">
            Investigator
        </md-button>
        <md-button class="md-raised" aria-label="toolbar button3" ng-click="loader($event)">
            Loader
        </md-button>
        <md-button class="md-raised" aria-label="toolbar button4">
            Manifest
        </md-button>
        <md-button class="md-raised" aria-label="toolbar button5">
            History
        </md-button>
        <md-button class="md-raised" aria-label="toolbar button6">
            Search
        </md-button>
    </div>
</md-toolbar>
<div layout="column" ng-cloak>
    <!--    <div flex>-->
    <md-content layout="row" flex>

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" style="max-width:280px; background-color:rgb(16, 108, 200);">
            <md-toolbar class="md-theme-light" style="background-color:#0D47A1;">
                <h1 class="md-toolbar-tools">Modules</h1>
            </md-toolbar>
            <md-content style="background-color:rgb(16, 108, 200);">
                <form>
                    <md-input-container layout="column">
                        <md-button flex id="moduleItem" ng-click="open()" style="color:white; margin:0;" layout="row">
                            <span flex></span>
                            <div flex>
                                File
                            </div>
                            <span flex></span>
                            <md-icon flex md-svg-icon="./img/icons/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
                        </md-button>
                        <md-button flex id="moduleItem" ng-click="" style="color:white; margin:0;" layout="row">
                            <span flex></span>
                            <div flex>
                                Memory
                            </div>
                            <span flex></span>
                            <md-icon flex md-svg-icon="./img/icons/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
                        </md-button>
                        <md-button flex id="moduleItem" ng-click="" style="color:white; margin:0;" layout="row">
                            <span flex></span>
                            <div flex>
                                NetStat
                            </div>
                            <span flex></span>
                            <md-icon flex md-svg-icon="./img/icons/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
                        </md-button>
                        <md-button flex id="moduleItem" ng-click="" style="color:white; margin:0;" layout="row">
                            <span flex></span>
                            <div flex>
                                Package
                            </div>
                            <span flex></span>
                            <md-icon flex md-svg-icon="./img/icons/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
                        </md-button>
                        <md-button flex id="moduleItem" ng-click="" style="color:white; margin:0;" layout="row">
                            <span flex></span>
                            <div flex>
                                Scribe
                            </div>
                            <span flex></span>
                            <md-icon flex md-svg-icon="./img/icons/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
                        </md-button>
                        <md-button flex id="moduleItem" ng-click="" style="color:white; margin:0;" layout="row">
                            <span flex></span>
                            <div flex>
                                Ping
                            </div>
                            <span flex></span>
                            <md-icon flex md-svg-icon="./img/icons/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
                        </md-button>
                        <md-button flex id="moduleItem" ng-click="" style="color:white; margin:0;" layout="row">
                            <span flex></span>
                            <div flex>
                                TimeDrift
                            </div>
                            <span flex></span>
                            <md-icon flex md-svg-icon="./img/icons/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
                        </md-button>
                    </md-input-container>
                </form>
            </md-content>
        </md-sidenav>
        <div flex layout-padding layout="column">
            <!--            <md-content>-->
            <md-toolbar id="setToolbar" ng-click="showDashboard=!showDashboard">
                <div class="md-toolbar-tools">
                    <h2><span>Dashboard</span></h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <!--            <md-content flex layout="row">-->
            <div class="frame md-whiteframe-glow-z1 openDashboard" layout-padding flex layout="column">
                <!--<div flex> //TODO: use tiles
                    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                        <md-grid-tile class="green" md-colspan="2">
                            <md-grid-tile-footer>
                                <h3>#2: (1r x 1c)</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                        <md-grid-tile class="yellow" md-colspan="2">
                            <md-grid-tile-footer>
                                <h3>#3: (1r x 1c)</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                        <md-grid-tile class="yellow" md-colspan="2">
                            <md-grid-tile-footer>
                                <h3>#3: (1r x 1c)</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>

                </div>
                <div flex>
                    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
                        <md-grid-tile class="red" md-rowspan="2" md-colspan="6" md-colspan-sm="1" md-colspan-xs="1">
                            <md-grid-tile-footer>
                                <h3>#5: (2r x 2c)</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </div>-->

                <div layout="column">
                    <div flex layout="row">
                        <div flex>
                            <h3>Agents and Endpoints summary:</h3>

                            <ul>
                                <li>
                                    {{dashboard[0].data[0].value}} online agents on {{dashboard[0].data[2].value}} endpoints
                                </li>
                                <li>
                                    {{dashboard[0].data[3].value}} idle agents on {{dashboard[0].data[5].value}} endpoints
                                </li>
                                <li>
                                    {{dashboard[0].data[7].value}} endpoints are running 2 or more agents
                                </li>
                                <li>
                                    {{dashboard[0].data[6].value}} endpoints appeared over the last 7 days
                                </li>
                                <li>
                                    {{dashboard[0].data[8].value}} endpoints disappeared over the last 7 days
                                </li>
                                <li>
                                    {{dashboard[0].data[9].value}} endpoints have been flapping
                                </li>
                            </ul>
                        </div>
                        <div flex>
                            <h3>Online agents by version:</h3>
                            <ul>
                                <li ng-repeat="data in dashboard[0].data[1].value">
                                    {{data.version}}: {{data.count}} agent
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div flex>
                        <h3>Idle agents by version: </h3>
                        <ul>
                            <li ng-if="dashboard[0].data[4].value ">{{dashboard[0].data[4].value}}</li>
                            <p ng-if="!dashboard[0].data[4].value ">none</p>
                        </ul>
                        <h3>Latest Actions:</h3>
                        <table flex style="width:100% ">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Sent</th>
                                <th>Date</th>
                                <th>Investigators</th>
                            </tr>
                            <tr ng-repeat="data in dashboard " ng-if="!$first ">
                                <td>
                                    <md-button style="margin-left:0; padding-left:0;" class="md-primary " ng-click="getActionInfo(data.data[0].value.id) " target="_blank ">{{data.data[0].value.id}}</md-button>
                                </td>
                                <td>{{data.data[0].value.name}}</td>
                                <td ng-if="data.data[0].value.counters.sent">{{data.data[0].value.counters.sent}}</td>
                                <td ng-if="!data.data[0].value.counters.sent">0</td>
                                <td><pre>{{data.data[0].value.starttime}}</pre></td>
                                <td> <span ng-repeat="inv in data.data[0].value.investigators ">{{inv.name}} </span></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <!--            </md-content>-->
            <br>

            <!-- <md-whiteframe flex style="margin:10px; padding-left:10px; background-color: #FAFAFA " class="md-whiteframe-5dp " layout="row " ng-if="file ">
                    <div flex layout="column ">
                        <h3>INPUTS</h3>
                        <div>
                            <md-input-container>
                                <label>Path</label>
                                <input ng-model="path ">
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Name</label>
                                <input ng-model="name ">
                            </md-input-container>
                        </div>
                        <div>
                            Size:
                            <md-input-container>
                                <md-select ng-model="sym ">
                                    <md-option value="less ">
                                        less than
                                    </md-option>
                                    <md-option value="eq ">
                                        equal to
                                    </md-option>
                                    <md-option value="gr ">
                                        greater than
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div flex>
                        <h3>OUTPUT</h3>

                    </div>
                </md-whiteframe>-->
            <!--            </md-content>-->
        </div>
    </md-content>
    <!--    </div>-->
</div>



<!--<div id="LatestActions ">
    <button ng-click="getHeartbeat() ">Get Heartbeat</button>
    {{heartbeat}}

</div>-->
<!-------------------------------------------------templates--------------------------------------------->
<script type="text/ng-template " id="action.tmpl.html ">
    <md-dialog aria-label="Orders " ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools ">
                    <h2>Orders</h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content " layout-align="center center " layout="column ">
                    <h2>The following orders are available under action</h2>
                    <ul style="list-style: none; ">
                        <li>
                            <md-button class="md-primary " ng-click="action($event) ">add operation</md-button>
                        </li>
                        <li>
                            <md-button class="md-primary ">compress</md-button>
                        </li>
                        <li>
                            <md-button class="md-primary ">listagents</md-button>
                        </li>
                        <li>
                            <md-button class="md-primary ">deloperation</md-button>
                        </li>
                        <li>
                            <md-button class="md-primary ">details</md-button>
                        </li>
                    </ul>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row ">
                <md-button>
                    Cancel
                </md-button>
                <span flex></span>
                <md-button ng-click="answer( 'useful') " md-autofocus>
                    Okay
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
<!--TODO: show the key only when the 201 status is received from the api ie, after success of entry-->
<script type="text/ng-template " id="loader.tmpl.html ">
    <md-dialog aria-label="Orders " ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools ">
                    <h2>Create new Loader</h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content layout-padding>
                <div class="md-dialog-content " layout="column ">
                    <p>Provide name of the new entry:</p>
                    <md-input-container>
                        <label>Name</label>
                        <input name="loader_name" ng-model="loaderName " required ng-pattern=" " ng-minlength="3">
                        <small>(input name must be greater than 3 char long)</small>
                    </md-input-container>
                </div>

            </md-dialog-content>

            <md-dialog-actions layout="row ">
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
                <span flex></span>
                <md-button ng-click="generateLoader()" md-autofocus>
                    Create
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>

<script type="text/ng-template " id="investigator.tmpl.html ">
    <md-dialog aria-label="Orders " ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools ">
                    <h2>Create new Loader</h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content layout-padding>
                <div class="md-dialog-content " layout="column ">
                    <p>Provide name of the new entry:</p>
                    <md-input-container>
                        <label>Name</label>
                        <input name="loader_name" ng-model="loaderName " required ng-pattern=" " ng-minlength="3">
                        <small>(input name must be greater than 3 char long)</small>
                    </md-input-container>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row ">
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
                <span flex></span>
                <md-button ng-click="investigator()" md-autofocus>
                    Create
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>